#Instance general
#Component Simulation
seed = 123
mobility-seed = 123
simulation-time = 120.000000000
time-step-event-synchronization-step = 0.100000000
trace-output-mode = Text
trace-index-output = true
trace-output-file = simulation.trace
statistics-output-file = simulation.stat
statistics-output-for-no-data = true
allow-node-re-creation = false
network-terminate-sim-when-routing-fails = false
progress-sim-time-output-interval-percents = 5.000000000
enable-unused-parameter-warnings = true

#Component GIS
gis-road-driving-side = Left
gis-los-break-down-cureved-road-into-straight-roads = true
gis-number-entrances-to-building = 0
gis-number-entrances-to-station = 0
gis-number-entrances-to-busstop = 0
gis-number-entrances-to-park = 0
gis-road-set-intersection-margin = false

#Component Antenna/Propagation
number-data-parallel-threads-for-propagation = 1
antenna-pattern-two-2d-to-3d-interpolation-algorithm-number = 1
antenna-patterns-are-in-legacy-format = false


[1-6] is-member-of = AlohaObjectType
#Instance general

#Instance 5GHzBand
#Component Channel
[5GHzBand] channel-frequency-mhz = 5000.000000000
[5GHzBand] channel-bandwidth-mhz = 20.000000000
[5GHzBand] propagation-enable-mask-calculated-channel-interference = false
[5GHzBand] propagation-model = TwoRayGround
[5GHzBand] enable-propagation-delay = true
[5GHzBand] max-signal-propagation-meters = 100000000.000000000
[5GHzBand] propagation-allow-multiple-interfaces-on-same-channel = false
[5GHzBand] fading-model = Off


#Instance CBR2

#Instance CBR3

#Instance general
#Component Common

#Component Position

#Component CommunicationObject

#Component SimulationObject
[1-6] trace-enabled-tags = Application Mac Phy
[1-6] trace-start-time = 0.000000000

#Component Network (Node)
[1-6] network-hop-limit = 64
[1-6] network-loopback-delay = 0.000000001

#Component Transport

#Component Mobility
[1] mobility-model = Stationary
[2-6] mobility-model = Random-Waypoint
[1-6] mobility-granularity-meters = 1.000000000
[2-6] mobility-wp-pause-time = 0.000000000
[2-6] mobility-wp-min-speed-meter-per-sec = 15.000000000
[2-6] mobility-wp-max-speed-meter-per-sec = 20.000000000
[2-6] mobility-rwp-movable-area-is-rect = true
[2-6] mobility-rwp-movable-area-min-xy-max-xy-meters = -250,-250,250,250
[1-6] mobility-init-positions-file = simulation.pos
[1-6] mobility-need-to-add-ground-height = true


#Instance CBR4

#Instance CBR5

#Instance CBR6

#Instance CBR7

#Instance CBR8

#Instance CBR9

#Instance aloha
#Component Antenna/Propagation (Interface)
[1-6;aloha] channel-instance-id = 5GHzBand
[1-6;aloha] antenna-model = Omnidirectional
[1-6;aloha] antenna-gain-dbi = 0.000000000
[1-6;aloha] antenna-height-meters = 1.500000000
[1-6;aloha] antenna-azimuth-degrees = 0.000000000
[1-6;aloha] antenna-elevation-degrees = 0.000000000
[1-6;aloha] antenna-offset-meters = 0.000000000
[1-6;aloha] antenna-offset-degrees = 0.000000000

#Component Routing

#Component Network (Interface)
[1-6;aloha] network-address = 90.0.0.0 + $n
[1-6;aloha] network-prefix-length-bits = 16
[1-6;aloha] network-subnet-is-multihop = false
[1-6;aloha] network-address-is-primary = false
[1-6;aloha] network-allow-routing-back-out-same-interface = true
[1-6;aloha] network-ignore-unregistered-protocol = false
[1-6;aloha] network-mtu-bytes = 1500
[1-6;aloha] mac-protocol = ALOHA
[1-6;aloha] interface-output-queue-max-packets = 1000
[1-6;aloha] interface-output-queue-max-bytes = 1000000
[1-6;aloha] network-enable-dhcp-client = false
[1-6;aloha] network-enable-dhcp-server = false
[1-6;aloha] network-enable-ndp = false
[1-6;aloha] network-enable-arp = false

#Component AlohaMac
[1-6;aloha] aloha-model = Unslotted
[1-6;aloha] aloha-datarate-bits-per-second = 1000000
[1-6;aloha] aloha-tx-power-dbm = 20.000000000
[1-6;aloha] aloha-minimum-data-transmission-interval = 0.005000000
[1-6;aloha] aloha-maximum-data-transmission-jitter = 0.001000000
[1-6;aloha] aloha-minimum-retry-interval = 0.010000000
[1-6;aloha] aloha-maximum-retry-interval = 0.100000000
[1-6;aloha] aloha-retry-limit = 10

#Component AlohaPhy
[1-6;aloha] aloha-signal-rx-power-threshold-dbm = -85.000000000
[1-6;aloha] aloha-phy-frame-data-padding-bits = 0
[1-6;aloha] aloha-phy-delay-until-airborne = 0.000020000


#Instance CBR10

#Instance CBR1

gis-object-position-in-latlong-degree = false

#Component CBR
[1;CBR2] cbr-destination = 3
[1;CBR3] cbr-destination = 4
[1;CBR4] cbr-destination = 5
[1;CBR5] cbr-destination = 6
[1;CBR1] cbr-destination = 2
[2;CBR6] cbr-destination = 1
[3;CBR7] cbr-destination = 1
[4;CBR8] cbr-destination = 1
[5;CBR9] cbr-destination = 1
[6;CBR10] cbr-destination = 1
[1;CBR5] cbr-start-time = 10.000000000
[1;CBR4] cbr-start-time = 10.000000000
[1;CBR3] cbr-start-time = 10.000000000
[1;CBR2] cbr-start-time = 10.000000000
[1;CBR1] cbr-start-time = 10.000000000
[2;CBR6] cbr-start-time = 10.000000000
[3;CBR7] cbr-start-time = 10.000000000
[4;CBR8] cbr-start-time = 10.000000000
[5;CBR9] cbr-start-time = 10.000000000
[6;CBR10] cbr-start-time = 10.000000000
[1;CBR5] cbr-end-time = 110.000000000
[1;CBR4] cbr-end-time = 110.000000000
[1;CBR3] cbr-end-time = 110.000000000
[1;CBR2] cbr-end-time = 110.000000000
[1;CBR1] cbr-end-time = 110.000000000
[2;CBR6] cbr-end-time = 110.000000000
[3;CBR7] cbr-end-time = 110.000000000
[4;CBR8] cbr-end-time = 110.000000000
[5;CBR9] cbr-end-time = 110.000000000
[6;CBR10] cbr-end-time = 110.000000000
[1;CBR5] cbr-start-time-max-jitter = 1.000000000
[1;CBR4] cbr-start-time-max-jitter = 1.000000000
[1;CBR3] cbr-start-time-max-jitter = 1.000000000
[1;CBR2] cbr-start-time-max-jitter = 1.000000000
[1;CBR1] cbr-start-time-max-jitter = 1.000000000
[2;CBR6] cbr-start-time-max-jitter = 1.000000000
[3;CBR7] cbr-start-time-max-jitter = 1.000000000
[4;CBR8] cbr-start-time-max-jitter = 1.000000000
[5;CBR9] cbr-start-time-max-jitter = 1.000000000
[6;CBR10] cbr-start-time-max-jitter = 1.000000000
[1;CBR5] cbr-payload-size-bytes = 128
[1;CBR4] cbr-payload-size-bytes = 128
[1;CBR3] cbr-payload-size-bytes = 128
[1;CBR2] cbr-payload-size-bytes = 128
[1;CBR1] cbr-payload-size-bytes = 128
[2;CBR6] cbr-payload-size-bytes = 128
[3;CBR7] cbr-payload-size-bytes = 128
[4;CBR8] cbr-payload-size-bytes = 128
[5;CBR9] cbr-payload-size-bytes = 128
[6;CBR10] cbr-payload-size-bytes = 128
[1;CBR5] cbr-traffic-defined-by = Interval
[1;CBR4] cbr-traffic-defined-by = Interval
[1;CBR3] cbr-traffic-defined-by = Interval
[1;CBR2] cbr-traffic-defined-by = Interval
[1;CBR1] cbr-traffic-defined-by = Interval
[2;CBR6] cbr-traffic-defined-by = Interval
[3;CBR7] cbr-traffic-defined-by = Interval
[4;CBR8] cbr-traffic-defined-by = Interval
[5;CBR9] cbr-traffic-defined-by = Interval
[6;CBR10] cbr-traffic-defined-by = Interval
[1;CBR5] cbr-interval = 1.000000000
[1;CBR4] cbr-interval = 1.000000000
[1;CBR3] cbr-interval = 1.000000000
[1;CBR2] cbr-interval = 1.000000000
[1;CBR1] cbr-interval = 1.000000000
[2;CBR6] cbr-interval = 1.000000000
[3;CBR7] cbr-interval = 1.000000000
[4;CBR8] cbr-interval = 1.000000000
[5;CBR9] cbr-interval = 1.000000000
[6;CBR10] cbr-interval = 1.000000000
[1;CBR5] cbr-priority = 0
[1;CBR4] cbr-priority = 0
[1;CBR3] cbr-priority = 0
[1;CBR2] cbr-priority = 0
[1;CBR1] cbr-priority = 0
[2;CBR6] cbr-priority = 0
[3;CBR7] cbr-priority = 0
[4;CBR8] cbr-priority = 0
[5;CBR9] cbr-priority = 0
[6;CBR10] cbr-priority = 0
[1;CBR5] cbr-auto-port-mode = true
[1;CBR4] cbr-auto-port-mode = true
[1;CBR3] cbr-auto-port-mode = true
[1;CBR2] cbr-auto-port-mode = true
[1;CBR1] cbr-auto-port-mode = true
[2;CBR6] cbr-auto-port-mode = true
[3;CBR7] cbr-auto-port-mode = true
[4;CBR8] cbr-auto-port-mode = true
[5;CBR9] cbr-auto-port-mode = true
[6;CBR10] cbr-auto-port-mode = true
[1;CBR5] cbr-use-virtual-payload = false
[1;CBR4] cbr-use-virtual-payload = false
[1;CBR3] cbr-use-virtual-payload = false
[1;CBR2] cbr-use-virtual-payload = false
[1;CBR1] cbr-use-virtual-payload = false
[2;CBR6] cbr-use-virtual-payload = false
[3;CBR7] cbr-use-virtual-payload = false
[4;CBR8] cbr-use-virtual-payload = false
[5;CBR9] cbr-use-virtual-payload = false
[6;CBR10] cbr-use-virtual-payload = false


statistics-configuration-file = simulation.statconfig
